docopt==0.6.1
-e git+https://github.com/luizirber/tqdm.git@patch-1#egg=tqdm
#tqdm==1.0

# calc_bwa_coverage
pysam==0.7.7
#screed=0.7.1
-e git+https://github.com/luizirber/screed.git@python3#egg=screed

